
.root {
    width: 100%;
    justify-content: center;
    display: flex;
}

.container {
    max-width: 100%;
    /* align-self: center; */
    /* align-items: center; */
    background-color:red;
    /* justify-content: center; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 50px;
}

.item-container{
    width: 200px;
    height: 190px;
    background-color: lightcoral;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    
}

.btn-container{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
}

.button{
    padding: 5px;
    background-color: grey;
    border-radius: 5px;
    justify-content: center;
}

.edit-btn{
    color: blue;    
    
}

@media only screen and (max-width: 600px) {
.loan-root {
    max-width: 100% !important;
    width: 100% !important;;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color:#F1F9FA ;
    padding: 20px 20px 20px 20px;
}
}

.loan-root {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color:#F1F9FA ;
    padding: 20px 50px 20px 50px;
}

.small-sub-title{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.title{
  display: flex;
  justify-content: center;
 /* align-items: center; */
}

.subtitle{
    width: 100%;
    /* justify-content: center; */
    align-items: center;
}

.loan-view-container{
    /* width: 100%; */
   width: 100%;
  align-items: center;
  justify-content: center;
 padding-left: 20px;
 padding-right: 20px;
}