
.form{
  background-color:#F5FBFB;
  width: 60%;
  padding: 20px;
}

.label{
  padding: 0px;
  margin-bottom: 4px;
}

.input{
 height: 35px;
}

.form-button{
 background-color: burlywood;
 color: black;
 padding: 5px;
 border-radius: 5px;
 margin-top: 30px;
}

.heading{

}

.loan-view{
    width: 100%;
    background-color:#2B9BDF;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    /* border-radius: 25px; */
    border-bottom-left-radius:25px ;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0px;
}

.selected-loan-view{
  width: 100%;
  background-color:#020C26;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  /* border-bottom-left-radius:25px ;
  border-bottom-right-radius: 25px; */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
}

.loan-text{
    color: white;
    text-align: center;
    font-size: 18;
}

.arrow-icon{
  width:24px;
  height: 24px;
  margin-top: 5px;
}

.select-icon {
  padding: 15px;
  border-radius: 3px !important;
  height: 50px !important;
  color: #ffffff !important;
  padding-right: 30px !important;
  font-size: 14px !important;
  border-color: blue !important;
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: blue url("data:image/svg+xml;utf8,<svg height='24' viewBox='0 0 24 24' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='#FFFFFF'/></g></svg>") no-repeat !important;
  background-position-x: 100%;
  background-position-y: 5px;
}

.dt-plan-view-root {
  width: 100%;
  /* height:500px; */
  /* border: 1px solid black; */
}

.loan-container{
    width: 100%;  
    height: 350px;
    border: 5px solid #0A214D;
}

.loan-button {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.loan-btn{
  width: 24%;
  height: 100px;
  display: flex;
  background-color:#2B9BDF;
  justify-content: center;
  align-items: center;
  border: 0px;
  
}

.loan-txt{
  text-align: center;
  color: white;
  font-size: medium;
}

.toogle{
  border-color: #2B9BDF;
  border-width: 4px;
  /* margin-right: 10px;
  margin-left: 10px; */
  border-style: none;
}

.selecte-toogle{
  border-color: #020C26;
  border-width: 4px;
  border-bottom-left-radius:25px ;
  border-bottom-right-radius: 25px; 
  border-style: solid;
  padding: 20px;
  white-space:pre-wrap;
  /* text-decoration: none; */
  /* border-radius: 10px; */
}

.subtitle1{
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
.subtitle2{
  padding: 0px;
  margin: 0px;
}
.subtitle3{
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
.subtitle4{
  padding: 0px;
  margin: 0px;
}